.darkmode {
    color: #ccc;
    opacity: 1;
    animation-name: fadeIn;
    animation-iteration-count: 1;animation-timing-function: ease-in;
    animation-duration: .5s;
    transition: background-color 1s linear;
    background-color: #222;
}

.darkmode h1 {
    color: #eee;
}
.darkmode p {
    mix-blend-mode: difference;
    color: white;
}
.darkmode a {
    color:#eb34e8;
    mix-blend-mode: normal;
}
.darkmode .emphasis::after {
    background-color: gray;
}
.darkmode .featured-work-content {
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px black, 8px 8px blue;
}
.darkmode .image-large img {
    filter: grayscale(100%);
}
.darkmode .image-loading {
    filter: grayscale(100%);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
