.image-large {
    position:absolute;
    z-index:-1;
    box-shadow:5px 5px blue;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .image-large img {
    background-size: cover;
    opacity: 0;
    top: 0;
    left: 0;
    max-height: auto;
    width: 100%;
    transition: opacity .8s linear;
  }
  .image-large img.loaded {
    opacity: 1;
  }
  .image-small { 
    width:200%;
    position:absolute;
    z-index:-1;
    /*filter: blur(2px);*/
    image-rendering: pixelated;
  }
  
@media (max-width:980px) {
    .image-large img {
        height:100%;
        width: auto;
        transition: opacity .8s linear;
      }
}