/* not my proudest CSS, but it's responsive-ish */

/* really, don't look at it */

/* enjoy this color pallate below instead! */

/*
phtalo: 217eb4
cadium: fedd45
canela: 9e5e49
truffle: ca7d63;
buttercup: f8ff6a;
tungsten: a2aeb6
slate: 515e65
*/

html {
  background-color: #111;
}

body {
  font-family: "Helvetica Neue";
  font-variant-ligatures: historical-ligatures;
  margin: 0px;
  height: 100vh;
}

::selection {
  background: #f8ff6a;
}

.above-the-fold-content {
  height: 93vh;
  min-height: 340px;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 0px;
  margin: auto;
}

.below-the-fold-content h3 {
  position: absolute;
  transform: translate(30px, -30px);
  font-size: 48px;
  -webkit-text-stroke: 1px #fedd45;
  -webkit-text-fill-color: transparent;
}

.musings-container {
  min-height: 220px;
}

.musings-content {
  font-family: ibm;
  color: white;
  font-size: 13px;
  vertical-align: left;
  height: 100%;
  width: 55vw;
  padding: 0px;
  margin: 0px auto 0px auto;
}

.footer-container {
  height: 80px;
}

.footer-content {
  vertical-align: middle;
  height: 100%;
  color: #9e5e49;
  width: 95vw;
  min-height: 60px;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 0px;
  margin: auto;
}

.footer-content a {
  color: #217eb4;
  text-decoration-style: wavy;
  text-decoration-color: #fedd45;
}

.footer-content a:hover {
  color: #fedd45;
}

.below-the-fold-content {
  height: 80px;
}

.featured-work-container {
  padding-bottom: 40px;
  letter-spacing: 0.1em;
  display: flex;
  margin-top: 6vh;
  flex-flow: row wrap;
  justify-content: space-around;
}

.featured-work-content {
  background-color: white;
  margin: 5vh;
  flex: 0 0 320px;
  width: 320px;
  height: 240px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.featured-work-image {
  min-width: 100%;
  object-position: center;
  box-sizing: border-box;
  object-fit: cover;
}

.featured-work-overlay {
  display: flex;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  justify-content: center;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
  display: inline;
  height: 100%;
}

.featured-work-overlay:hover {
  opacity: 1; 
  /*color:black;*/
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.featured-work-overlay h3, .featured-work-overlay p {
  color: white;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.featured-work-overlay p {
  font-weight: lighter;
  font-size:;
}

.featured-work-overlay a {
  color: red;
  position: static;
  display: inline;
}

@keyframes exampleformyselffade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .8;
  }

}

.emphasis {
  display: inline-flex;
}

.emphasis {
  display: inline-flex;
  line-height: 14px;
  position: relative;
  z-index: 0;
}

.emphasis::after {
  content: '';
  right: 0;
  bottom: -4px;
  background-color: #333;
  height: 8px;
  width: 124px;
  display: block;
  position: absolute;
  z-index: -1;
  transition: all .2s ease-in-out;
}

.above-the-fold-lede {
  margin-left: 28vh;
  font-family: "ibm";
  color: #ddd;
  letter-spacing: 0.005em;
  font-size: 14px;
  padding-top: 25vh;
  display: inline-block;
  position: absolute;
  line-height: 30px;
  /*z-index:-1;*/
}

.above-the-fold-lede a {
  color: #217eb4;
  text-decoration-style: wavy;
  text-decoration-color: #fedd45;
}

.above-the-fold-lede a:hover {
  color: #fedd45;
}

.header-bar {
  /*z-index: 10;*/
}

.header-bar, .footer-bar {
  font-family: "ibm";
  color: white;
  padding-top: 30px;
  font-size: 15px;
  width: 100%;
  height: 40px;
}

.footer-bar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header-bar h1 {
  font-family: "ibm";
  font-size: 30px;
  margin: 0px;
  margin-top: -10px;
  color: #eee;
}

.footer-bar p {
  font-size: 12px;
  margin: 0px;
  color: #ccc;
}

.header-bar a {
  text-decoration-style: dotted;
  color: #515e65;
  color: white;
}

.footer-bar a {
  color: #ccc;
  font-size: 12px;
}

.header-bar a:hover, .footer-bar a:hover {
  color: #fedd45;
}

.header-bar-left, .footer-bar-left {
  text-align: left;
  position: absolute;
  width: 50%;
  margin-left: 2vw;
}

.header-bar-right, .footer-bar-right {
  z-index:999;
  cursor: pointer;
  text-align: right;
  float: right;
  margin-right: 2vw;
  width: 50%;
}

.el {
  color: #217eb4;
}


@font-face {
  font-family: "ibm";
  src: url("../fonts/IBMPlexMono-Italic.ttf") format("truetype");
}

@media (max-width:768px) {
  .above-the-fold-lede {
    width: 95%;
    margin-left: 20px;
    margin-right: auto;
    vertical-align: middle;
  }

  .below-the-fold-content h3 {
    text-align: center;
    width: 100%;
    transform: translate(0, 0);
  }

  .header-bar {
    display: block;
    margin-top: 1vh;
  }

  .header-bar-left {
    position: relative;
    text-align: center;
    margin-left: 0px;
    width: 100%;
  }

  .header-bar-right {
    position: relative;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    width: 100%;
  }

  .featured-work-container {
    font-family: "Helvetica Neue";
    font-weight: light;
    margin-left: 0px;
    margin-top: 12vh;
  }

  .featured-work-content {
    width: 90vw;
    margin: 5vh 0vh 5vh 0vh;
    height: 40vh;
    overflow: hidden;
    position: relative;
    flex: none;
  }

  .featured-work-overlay {
    padding-top: 2%;
  }

  .featured-work-overlay h3, .featured-work-overlay p {
    margin-top: 4%;
    width: 85%
  }

}