html, body {
    height: calc(100% - 42px);
    width: 100%;
    font-family:'Helvetica Neue';
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

hr {
    border-color: #ccc;
    border-width: 1px;
    border-radius: 1px;
    max-width: 100px;
}

hr.wide {
    max-width: 600px;
}

a:hover, a:focus {
    text-decoration: none;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

h2 {
    font-size: 40px;
    font-weight: 550;
    display: inline-block;
    text-align: left;
    margin: 10px;
}

.meirl {
    width:50%
    /* z-index:2; */
}


.headertext {
    color:black;
    float: right;
    margin-top: 80px;
    text-align:center;
    padding: 8px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 500;
}


.project-header-text {
    color: #333;
    padding-top: 0px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 24px;
}

#permissions:hover>.chmoddy {
    filter: opacity(100%);
    -webkit-transition: all .5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#permissions:hover>.project-box-headline {
    -webkit-transition: all .5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    filter: opacity(0%);
}

#permissions:hover>.project-box-detail {
    -webkit-transition: all .5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    filter: opacity(0%);
}

.project-box {
    width: 100%;
    height: 100%;
    height: 240px;
    position: static;
    background-color: black;
}

.chmoddy{
    height: inherit;
    background-image: url('../img/permissions.png');
    background-size: cover;
    filter: opacity(75%);
    z-index: 998;
    -webkit-transition: all .5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hello {
    font-size:20px;
    color:#777;
}
.project-box-content {
    height: 100%;
    width: 100%;
    padding: 24px;
    text-align: left;
    color: white;
    z-index: 999;
    position: absolute;
}

.project-image {
    width: 100%;
}

.project-box-headline {
    display: all;
    color: #eee;
    font-size: 40px;
}

.project-box-detail {
    color: #eee;
    font-size: 20px;
    width: 70%;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333;
}

#header {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    text-align: center;
}

.headertext {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header .header-content .header-content-inner h1 {
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    margin-bottom: 50px;
}

.container {
    /* og containers are shitty static widths idk why @bootstrap */
    width:100%
}

.project-box {
    margin-top:20px;
}

@media (min-width:1200px)
{
    
    .headertext {
        transform: translate(-14%, 60%);
     }
}

@media (max-width:768px) {
    .headerphoto {
        margin-right: 0px;
        text-align:center;
    }

    
    .headertext {
        float: none;
        text-align: center;
        margin-top: 40px;
    }
    

    section {
        padding: 24px;
    }

}


section {
    padding: 20px 60px 20px 60px;
}

#section-footer {
    background: linear-gradient(30deg, #cc5782, #00227a);
    min-height: 80px;
    padding: 40px;
    margin-top:50px;
}

#section-footer p {
    color: #ddd;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

#section-footer a {
    color: #aaa;
}

.fa {
    /* font-size: 36px; */
    margin: 5px;
    /*margin-bottom: 50px;*/
    color: #222;
}

.fa-bars {
    font-size: 12px;
}

.fa-li {
    font-size: 10px;
}

.fa:hover {
    text-decoration: none;
    color: #a2a9bc;
    /*-webkit-transition: all 0.35s;*/
    /*-moz-transition: all 0.35s;*/
    /*transition: all 0.35s;*/
}